.footer{
    /*color: #032539;*/
    /*height: 100px;*/
    /*background:  #FA991C;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*font-style: italic;*/
    /*font-weight: 600;*/
    /*letter-spacing: 0;*/
    /*line-height: 100px;*/

    position: absolute;
    width: 100%;
    /*bottom : 0;*/
    height: 100px;
    background:  #FA991C;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 100px;
}

.mail{
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.mail:hover {
    color: #1C768F;
}