.navigation{
    position: sticky;
    top: 0;
    float: left;
    /*position: fixed;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: none;
    height: 100%;
    width: 8%;
}

.icon{
    margin-top: 20%;
}