
.profile__name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.profile__fio{
    font-size: 40px;
}
.profile__membership{
    margin-bottom: 2.2%;
    font-size: 20px;
}
.profile__university{
    font-size: 22px;
}
.profile__status{
    font-size: 24px;
    max-width: 85%;
}
.profile__avatar{
    display: block;
    justify-content: center;
    margin: auto 0;
    position: relative;
}
.profile__avatar__add{
    position: absolute;
    left: 57.39%;
    right: 16.48%;
    top: 53.49%;
    bottom: 19.77%;
}

/* -----------Список предлагаемых услуг----------- */
.suggestion{
    font-size: 30px;
    margin-left: 3%;
    color: #1C768F;
}
/*.services{*/
/*    font-size: 25px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    width: 95%;*/
/*    margin-bottom: 5.4%;*/
/*}*/
.options{
    margin-bottom: 2.5%;
}

/* ---------Кнопка "отправить заявку"--------------*/
.profile__sending{
    height: 5.3%;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    padding: 9px 19px 9px 19px;
    background: #FBF3F2;
    border: 2px solid #1C768F;
    border-radius: 50px;
    color: #FA991C;
    float: right;
    margin-left: 85%;
}
.post{
    color: #1C768F;
}


/* -------------Основной контент------------ */
.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    max-width: 82%;
    max-height: 80%;
    margin-left: 9.06%;
    margin-right: 9.06%;
    margin-top: 24px;
}




/* -----------ОФормление перечисления----------- */
.services__enum{
    padding-left: 18px;
    padding-bottom: 15px;
    list-style-image: url(./images/profile/enum.svg);
}

/* -----------------Адаптив---------------- */
@media (max-width: 1682px){
    .profile__sending{
        font-size: 17px;
    }
}

@media (max-width: 1100px){
    .profile__sending{
        font-size: 16px;
    }
    .header__title{
        font-size: 20px;
    }
}

@media (max-width: 700px){
    .footer{
        font-size: 20px;
    }
}

@media (max-width: 530px){
    .footer{
        font-size: 20px;
    }
    .header__title{
        font-size: 15px;
    }
}